
.forgetPasswordForm{
    margin: auto;
    width:40%;    

}
input[type="text"]{
    padding: 5px 35px;
}

.code{
    background-image: url('/codeIcon.svg');
}
.code{
    background-position: 4px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


    @media (min-width: 600px) and (max-width: 900px){
        .forgetPasswordForm{        
            width:80%;    
        }
    }
    
    @media(max-width: 599px){
        .forgetPasswordForm{        
            width:900%;
        }

        input[type="text"]{
            padding: 5px 20px;
        }
    }
    